@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap');
/* Reset */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #5B5750;
  font-size: 40px;
}

/* Sizing */

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #201A23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  gap: 7px;
}

.grid {
  height: 100px;
  height: 100px;
  border-radius: 7px;
  background-color: #FFC857;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

/* Interaction */

.grid:hover {
  opacity: 1;
}

/* Game Actions */

.grid.index-2{
  background-color: #E2FDFF;
}

.grid.index-4{
  background-color: #DB5A42;
}

.grid.index-8{
  background-color: #DB5A42;
}

.grid.index-16{
  background-color: #DB5A42;
}

.grid.index-32{
  background-color: #DB5A42;
}

.grid.index-64{
  background-color: #DB5A42;
}

.grid.index-128{
  background-color: #DB5A42;
}

.grid.index-256{
  background-color: #DB5A42;
}

.grid.index-512{
  background-color: #DB5A42;
}

.grid.index-1024{
  background-color: #DB5A42;
}

.grid.index-2048{
  background-color: #DB5A42;
}
